<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Date and Time</title>
    <style>
        #box{
            border: 3px solid black;
            text-align: center;
        }
        h1{
            text-align: center;
        }
    </style>
   
</head>
<body>
    <h1>The current date and time:</h1>
    <div id="box">
        @{
            DateTime CurrentTime = DateTime.Now;

        }
        <p>Date: @CurrentTime.ToString("MMM d, yyy")</p>
        <p>Time: @CurrentTime.ToString("h:mm tt") </p>
    </div>


</body>
</html>